<!-- 20151120 Careers Static Page careers.html.erb -->
<head>
<style>
ul  {
    list-style: circle;
}
</style>
</head>

<br />
<h2 style="text-align:center" class="pagetitle">Careers!</h2>
<br />
<div class="flixter-box col-xs-10 col-xs-offset-1">
	<h3>Brew, Drink, and Be Merry!</h3>
	<ul>
		<li>Body, iced, siphon extraction wings as dark. Froth half and half chicory turkish mazagran grinder cultivar. Irish, redeye galão sit rich and redeye cup as viennese single shot.</li>
		<li>Extra aged qui coffee robusta bar milk. Cortado, galão trifecta irish fair trade doppio extra ristretto kopi-luwak. Decaffeinated, ut ristretto caffeine barista as organic mug americano wings.</li>
		<li>Et extraction aroma, acerbic foam dripper robust aromatic grounds. Plunger pot aged breve, crema dripper flavour chicory acerbic single origin. Con panna organic acerbic, viennese crema id single shot macchiato doppio fair trade bar ristretto.</li>
		<li>Single origin medium strong blue mountain, acerbic, body white affogato eu caramelization plunger pot. Arabica french press dripper, so lungo aroma americano affogato. Con panna brewed, latte extra mazagran that single shot.</li>
		<li>Acerbic aged instant, skinny et mug caffeine aged. Café au lait aged, est affogato as organic acerbic variety. Seasonal, skinny lungo cortado kopi-luwak body redeye.</li>
	</ul>
<hr />
	<div class="text-center">Special thanks to 
		<a href="http://coffeeipsum.com/">http://coffeeipsum.com/</a>
	</div>
</div>
<br class="clear" />