<!-- Flixter Index.html.erb -->
<div class="hero">
	<br />
	<div class="frosty col-xs-5 col-xs-offset-1">
		<h1>Code Web Apps</h1><br />
		<h2>Like A BOSS!</h2><br />
		<%= link_to "Learn More", '#', :class => "btn btn-success pull-right" %><br />
		<br />
	</div>
</div>
<br />
<div class="col-xs-10 col-xs-offset-1 features text-center">
	<div class="col-sm-4">
		<h3>Feature 1</h3>
	</div>

	<div class="col-sm-4">
		<h3>Feature 2</h3>
	</div>

	<div class="col-sm-4">
		<h3>Feature 3</h3>
	</div>
</div>
<br />
