<!-- Flixter Index.html.erb -->
<div class="hero">
	<br />
	<div class="frosty col-xs-12 col-sm-5 col-sm-offset-1 text-center">
		<h1>You too can Brew like a Pro!</h1><br />
		<h2>Learn beans and leaves, tools and techniques...</h2><br />
		<%= link_to "Learn More", courses_path, :class => "btn btn-success pull-right" %><br />
		<br />
	</div>
</div>
<br class="clear" />
<br />
<div class="col-xs-10 col-xs-offset-1 featurepngs text-center">
	<div class="col-sm-4">
		<%= image_tag 'feature1.png', :class => 'img-responsive' %>
	</div>

	<div class="col-sm-4">
		<%= image_tag 'feature2.png', :class => 'img-responsive' %>
	</div>

	<div class="col-sm-4">
		<%= image_tag 'feature3.png', :class => 'img-responsive' %>
	</div>
</div>
<br class="clear" />
<br />
<div class="col-xs-10 col-xs-offset-1 features text-center">
	<div class="col-sm-4">
		<h3>Leaves and Beans</h3>
		<p>Learn the plants, the culture, the techniques, and the history of your favorite brews.</p>
	</div>

	<div class="col-sm-4">
		<h3>Tools of the Trade</h3>
		<p>Learn hardware and how-tos of coffee and tea brewing, from the earliest clay pots to modern wonders.</p>
	</div>

	<div class="col-sm-4">
		<h3>Brew and Smile</h3>
		<p>Sit back with your favorite cup, view lessons at your leisure, sip and smile...</p>
	</div>
</div>
<br class="clear" />
<br />
<br />

