<!-- 20151031 new sections form page new.html.erb -->

<br />
<h2 style="text-align:center" class="pagetitle">Add A New Section to <%= @course.title %></h2>
<br />
<div class="flixter-box col-xs-10 col-xs-offset-1">
	<%= simple_form_for @section, :url => instructor_course_sections_path(@course) do |f| %>
		<%= f.input :title %>
		<br />
		<%= f.submit "Add section", :class => 'btn btn-primary pull-right' %>
	<% end %>
</div>