<!-- Instructor Courses show.html.erb -->
<br />
<h2 style="text-align:center" class="pagetitle">Instructor Course Detail</h2>
<br />
<div class="flixter-box col-xs-10 col-xs-offset-1">
	Bork! Bork! Bork!
</div>
