<!-- General Course Index -->
<br class="clear" />
<h2 style="text-align:center" class="pagetitle">Brew With Us</h2>
<br />

<% @courses.each do |course| %>
	<div class="flixter-box col-xs-10 col-xs-offset-1">
		<h3 class="text-center"><%= link_to course.title, course_path(course) %></h3><br />
		<div class="col-sm-8 col-xs-12">
			<p><%= course.description %></p>
		</div>
		<div class="col-sm-4 col-xs-12">
			<%= link_to 'More Info...', course_path(course), :class => 'btn button-primary pull-right' %>
		</div>
	</div>
	<br class="clear" />
	<br />
<% end %>