/* Flixter Master Style Sheet */
.clear {
	clear:both;
}

.alert, .notice {
	margin: 0;
}

.navbar, .modal-content {
	font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
	box-shadow: 0px 1px 3px #2a2a2a;
	background-color: #fff3e6;
}

.modal-footer {
    border-top: 1px solid #800;
}

.modal-header {
    border-bottom: 1px solid #800;
}

.navbar-default .navbar-nav > li > a {
	color: #4d3939;
}

.navbar a.navbar-brand{
	font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
	color: #800;
	text-shadow: 1px 1px 2px rgba(51,0,0, 0.6);
}

.field_with_errors {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding:8px;
  margin:10px;
}

.hero {
  background: url('hero6.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:370px;
  box-shadow: 0px 1px 3px #2a2a2a;
}

.features {
  font-size: 1.5em;
}

.flixter-box {
  -moz-box-shadow: 1px 1px 2px rgba(51,0,0, 0.6);
  -webkit-box-shadow: 1px 1px 2px rgba(51,0,0, 0.6);
  box-shadow: 1px 1px 2px rgba(51,0,0, 0.6);
  background: rgba(255, 243, 230, 0.40);
  border: 1px solid; // #ccc;
  border-color: #ccc2b8 #b2aaa1 #b2aaa1 #ccc2b8;
  padding: 10px;
  font-size: 1.5em;
  border-radius: 6px;
}

.flixter-box h2, .flixter-box h1, .flixter-box h3, .features h3 {
  margin:10px;
}

.section-box {
  -moz-box-shadow: inset 1px 1px 2px rgba(55,32,32, 0.6);
  -webkit-box-shadow: inset 1px 1px 2px rgba(55,32,32, 0.6);
  box-shadow: inset 1px 1px 2px rgba(55,32,32, 0.6);
  background: rgba(204, 194, 194, 0.40);
  border: 1px solid; // #ccc;
  border-color: #ccc2b8 #b2aaa1 #b2aaa1 #ccc2b8;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  padding: 10px;
  // font-size: 1.25em;
  margin-top: 10px;
  margin-bottom: 10px;
}

.lesson-box {
  -moz-box-shadow: inset 1px 1px 2px rgba(55,32,32, 0.6);
  -webkit-box-shadow: inset 1px 1px 2px rgba(55,32,32, 0.6);
  box-shadow: inset 1px 1px 2px rgba(55,32,32, 0.6);
  background: rgba(175, 165, 165, 0.40);
  border: 1px solid; // #ccc;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border-color:  #b2aaa1 #ccc2b8 #ccc2b8 #b2aaa1;
  padding: 20px;
  // font-size: 1.25em;
  margin-top: 10px;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  list-style: none;
  -webkit-padding-start: none inherit;
  padding: none inherit;
}

// .ssortlist {
//   -webkit-padding-start: none inherit;
//   padding: none inherit;
// }

.btn-xs {
  margin: 3px;
}

// .section-box > [class*="col-"] {
//     background-clip: padding-box;
//     border: 10px solid transparent;
// }

hr {
    border: 0;
    height: 3px;
    background-image: linear-gradient(to right, rgba(136, 0, 0, 0), rgba(136, 0, 0, 0.75), rgba(136, 0, 0, 0));
}

label {
	font-weight: normal;
	margin: 5px;
}

.coursebox {
  border-style: none solid none none;
  border-color: #800;
  padding-left: 20px;
}

.pagetitle {
	font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
	color: #800;
	text-shadow: 1px 1px 2px rgba(51,0,0, 0.6);
	// font-size: 36px;
}

h3, h3 > a, .lesson-box a, .subtitle {
	text-shadow: 0px 0px 1px #330000;
	color: #372020;
}

.lesson-box a:hover {
  text-shadow: 1px 1px 2px #330000;
}

h1, h2, h3, h4, h5, h6, .navbar {
  margin:0;
}

.frosty {
	background:rgba(51,0,0, 0.6);
	color: #fff3e6;
	border-radius: 6px;
	padding: 15px;
}

.frosty h1{
	font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
	font-weight: 100;
	text-shadow: rgba(0,0,0,0.95) 2px 2px;
}

.frosty h2{
	font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
	font-weight: 200;
	text-shadow: rgba(0,0,0,0.95) 1px 1px;
}

.img-responsive {
  margin: 0 auto;
}

.imgrow {
  min-height: 250px;
  margin-top: 20px;
  margin-bottom: 20px;
}

ul.lsortlist.ui-sortable {
  padding: 0px;
}

ul.ssortlist.ui-sortable {
  padding: 0px;
}

// .subtitle {
// 	margin: 10px;
// }

h3 {
	font-size: 28px;
}

h4 {
	font-size: 24px;
}

body {
	background: url("spback.png");
	font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #372020;  // formerly #210808
}